<% times = Day.new.times %>
<%
barbacks = []
Person.all.each do |p|
  if (p.role == Person::BARBACK)
    barbacks << p
  end
end
%>
<div class='fields'%>
  <ul class="pageitem">
    <li class="select">
      <span class="name"><%=f.label :person_id %>:</span>
      <%=f.collection_select :person_id, barbacks, :id, :name%>
    </li>
    <li class="select">
      <span class="name"><%=f.label :time_in %>:</span>
      <%=f.collection_select :time_in, times, :hm_string, :hm_string,{:selected => times[14].hm_string}%>
    </li>
    <li class="select">
      <span class="name"><%=f.label :time_out %>:</span>
      <%=f.collection_select :time_out, times, :hm_string, :hm_string,{:selected => times[30].hm_string}%>
    </li>
    <li class="select">
      <span class="name"><%=f.label :closing_barback %>:</span>
      <%=f.check_box :closing_barback, {:checked => "checked"} %>
    </li> 
    <li class="button">
      <%= remove_child_button "remove", f %>
    </li>
  </ul>
</div>
