
<% form_for @day do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :when %><br />
    <%= f.text_field :when %>
  </p>
   <span class="graytitle">Total Tips:</span>
  <ul class="pageitem">
    <li class="bigfield"><%= f.text_field :total_tips%></li>
  </ul>

  <span class="graytitle">Barback tipout %</span>
  <ul class="pageitem">
    <li class="bigfield"><%= f.text_field :tipout_pct %></li>
  </ul>
  
  <h3>Shifts</h3>
  <% f.fields_for :shifts do |shift_form| %>
    <%= render :partial => 'shift', :locals => { :f => shift_form } %>
  <% end %>
  <p><%= add_child_link "New shift", f, :shifts %></p>
  <p><%= f.submit "Submit" %></p>
<% end %>
