<% form_for @day do |f| %>
<%= f.error_messages %>
Date:<br>
<%= text_field_tag "when", "#{(Date.today - 1)}" %><br>
total cash in the jar?<br/>
<%= text_field_tag "total_tips" %><br>
Barback tipout percent?<br/>
<%= text_field_tag "tipout_pct" %><br>
<strong>Bartenders:</strong>
  <% @people.each do |person| %>
    <% if person.role == Person::BARTENDER %>
      <div class = "field">  
        <%= check_box_tag "person_ids[]", person.id, @day.people.include?(person) %><%= person.name %>
      </div>
    <% end %>
  <% end %>
  
<strong>Barbacks:</strong>
  <% @people.each do |person| %>
    <% if person.role == Person::BARBACK %>
      <div class = "field">  
        <%= check_box_tag "person_ids[]", person.id, @day.people.include?(person) %><%= person.name %>
      </div>
    <% end %>
  <% end %>
    
<%= f.submit 'continue' %>
<% end %>
