<% form_for @day do |f| %>
<%= f.error_messages %>



<span class="graytitle">Bartenders</span>
<ul class="pageitem">
  <% @people.each do |person| %>
    <% if person.role == Person::BARTENDER %>
      <li class="checkbox"> 
      <span class="name"><%=person.name %></span>
        <%= check_box_tag "person_ids[]", person.id, @day.people.include?(person) %>
      </li>
    <% end %>
  <% end %>
</ul>

<span class="graytitle">Barbacks</span>
<ul class="pageitem">
  <% @people.each do |person| %>
    <% if person.role == Person::BARBACK %>
      <li class="checkbox"> 
      <span class="name"><%=person.name %></span>
        <%= check_box_tag "person_ids[]", person.id, @day.people.include?(person) %>
      </li>
    <% end %>
  <% end %>
</ul>

<ul class="pageitem">
  <li class="button">
    <%= f.submit 'continue' %>
  </li>
</ul>

    

<% end %>
